@model CasaEmpeñoModel.ViewModels.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>CASA DE EMPEÑO</h3>
                <small>Bienvenido, para ingresar capture sus datos de usuario</small>
            </div>
            <div class="row">
                @if (ViewBag.ErrorView != null)
                {
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">
                            &times;
                        </button>
                        <strong>@ViewBag.ErrorView</strong>
                    </div>
                }
            </div>
            <div class="hpanel">
                <div class="panel-body">


                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        if (ViewBag.Message != null)
                        {
                            <div class="text-center">
                                <span class="text-danger">@ViewBag.Message</span>
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(x => x.Usuario, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Usuario, new { @class = "form-control", @placeholder = "Usuario" })
                            @Html.ValidationMessageFor(x => x.Usuario, "", new { @class = "text-danger m-l-xs" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Contraseña, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Contraseña, new { @class = "form-control", @placeholder = "*****", @type = "password" })
                            @Html.ValidationMessageFor(x => x.Contraseña, "", new { @class = "text-danger m-l-xs" })
                        </div>
                        <input class="btn btn-primary btn-block" type="submit" value="Iniciar sesión" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>